<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    versionCode = "1"
    version     = "1.0.0" >

  <access origin="*" />

<!-- versionCode is optional and Android only -->

  <name>Blanks</name>

  <description>
      The dark humoured fill in the blanks party game.
  </description>

  <author href="https://jackcranston.co.uk" email="hello@jackcranston.co.uk">
      Jack Cranston
  </author>

  <icon src="icon.png" />
  <splash src="splash.png" />

  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="permissions" value="none" />
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="false" />
  <preference name="webviewbounce" value="true" />
  <preference name="prerendered-icon" value="true" />
  <preference name="stay-in-webview" value="false" />
  <preference name="detect-data-types" value="true" />
  <preference name="exit-on-suspend" value="false" />
  <preference name="auto-hide-splash-screen" value="true" />
  <preference name="SplashScreenDelay" value="5000" />
  <preference name="SplashScreen" value="screen"/>

  <splash src="./res/screen/android/splash-ldpi.png" platform="android" density="land-ldpi" />
  <splash src="./res/screen/android/splash-mdpi.png" platform="android" density="land-mdpi" />
  <splash src="./res/screen/android/splash-hdpi.png" platform="android" density="land-hdpi" />

</widget>
